/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

:root{
    --dark: #1A1A1A;
    --primary: #E6E965;
    --white: #F4F4F4;
}
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
*::selection{
    background-color: var(--primary);
    color: black;
}
img,button,a{
    user-select: none;
}
body{
    background-color: var(--dark);
}
.space{
    height: 100px;
}
.elavator{
    position: fixed;
    background-color: var(--white);
    box-shadow: 0 0 20px black;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    right: 40px;
    bottom: 25px;
    transform: translateY(200px);
    transition: all 300ms ease;
}
.elavator svg{
    font-size: 22px;
    color: var(--dark);
}
.elavator-show{
    transform: translateY(0);
}
.loader{
    user-select: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: white;
    color: black;
    transition: all 400ms ease-in;
}
.loader-hide{
    opacity: 0;
    visibility: hidden;
}
.loader h2{
    position: absolute;
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header{
    position: fixed;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 65px;
    background-color: transparent;
    z-index: 1000;
    transition: all 100ms ease;
}
.header-show{
    background: rgb(31, 31, 31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    place-items: center;
}
header li{
all: unset;
}
header li a{
    padding: 10px 40px 10px 40px;
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    transition: all 130ms ease-out;
}
header .logo{
    position: absolute;
    left: 40px;
}
header .logo img{
    width: 60px;
}
.yellow{
    color: var(--primary) !important;
}
.line-spect{
    position: absolute;
    bottom: 0;
    background-color: #E6E965;
    width: 65px;
    bottom: -5px;
    left: -4px;
    height: 2px;
    transform: scale(0);
    transition: all 350ms ease-out;
}
.main-container{
    background-image: url(../img/background.svg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--white);
    height: 1000px;
}
.main-container .content{
    display: flex;
    justify-content:center;
    flex-direction: row-reverse;
    padding-top: 120px;
    gap: 150px;
    place-items: center;
}
.main-container h1{
    font-size: 60px;
    font-weight: 300;
}
.main-container h2{
    font-size: 30px;
    font-weight: 200;
}
.main-container .bottons{
    position: relative;
}
.main-container button{
    position: relative;
    overflow: hidden;
    /* overflow: hidden; */
    margin-top: 20px;
    margin-left: 5px;
    width: 250px;
    padding: 8px;
    border-radius: 8px;
    border: solid 3px #E6E965;
    color: var(--white);
    font-size: 18px;
    font-weight: 100;
    background-color: transparent;
    box-shadow:  -20px 10px 0  #E6E965;
    cursor: pointer;
    z-index: 10;
    transition: all 200ms ease;
}
.main-container .social{
    margin-top: 40px ;
    width: 250px;
    display: flex;
    justify-content: space-around;
}
.main-container .social-icon:hover{
    transform: rotate(360deg);
}
.main-container .social .social-icon{
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
.main-container button:hover{
    box-shadow:  0 0 0 #E6E965;
    transform: scale(1.05);
}
.main-container button:focus{
    outline: none;
}
.main-container img{
    width: 500px;
}
.code{
    position: relative;
}
.type{
    position: absolute;
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    top: 120px;
    left: 30px;
}
.g{
    color: chartreuse;
}

.sec-skils{
    color: var(--white);
    text-align: center;
    margin-top: -300px;
}
.sec-skils h4{
    font-size: 30px;
    font-weight: 300;
}
.sec-skils .skils{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 40px;
}
.skil{
    position: relative;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
.info-tag{
    display: flex;
    justify-content: center;
    place-items: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%,10px);
    background-color: #E6E965;
    padding: 2px;
    height: 30px;
    width: 120px;
    color: black;
    opacity: 0;
    visibility: hidden;
    transition: all 160ms ease;
    cursor: pointer;
}
.skil:hover .info-tag{
    transform: translate(-50%,0px);
    opacity: 1;
    visibility: visible;
}
.info-tag::after{
    content: '';
    position: absolute;
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #bbbd4d;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.profile{
    max-width: 1200px;
    color: var(--white);
    margin-inline: auto;
}
.profile img{
    border-radius: 30px;
    width: 180px;
}
.profile h2{
    font-size: 36px;
    font-weight: 200;
}
.profile h3{
    line-height: 60px;
    font-size: 64px;
    font-weight: 300;
}
.profile p{
    margin-top: 15px;   
    color: rgb(212, 212, 212);
}
.cv{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    padding: 25px;
    margin-inline: auto;
    border: 4px solid #F4F4F4;
    color: #F4F4F4;
    border-radius: 35px;
}
.cv div{
    width: 50%;
}
.cv .info{
    padding: 25px;
}
.cv h4{
    font-size: 48px;
    font-weight: 500;
}
.cv p{
    width: 300px;
    margin-top: 15px;
}
.cv button{
    position: relative;
    display: block;
    margin-top:25px ;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #E6E965;
    color: #F4F4F4;
    font-size: 15px;
    font-weight: 100;
    overflow:hidden;
    text-transform: uppercase;
    font-weight: 500;
    transition:0.08s ease-in;
}
.download-cv:after{
    content:"My CV";
    color:white;
    position:absolute;
    transform: translateY(-8px);
    width:100%;
    height:100%;
    left:0;
    text-align:center;
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
  }
  
  .download-cv:before {
    content:"download →";
    transform: translateY(-8px);
    height:100%;
    width:100%;
    top: 50%;
    position:absolute;
    left:-100%;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
  }
  
  .download-cv:hover{
    background:#9e9e9e28;
  }
  
  .download-cv:hover:before{
    left:0;
    opacity:1;
    color:#fff;
  }
  .download-cv:hover:after{
    left:100%;
    opacity:0;
  }
  
.right-content{
    background: url(../img/cir.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-me{
    position: relative;
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
    color: white;
}
.contact-me h3{
    font-size: 30px;
    font-weight: 100;
}
.contact-me .body{
    margin-top: 50px;
    display: flex;
    place-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.contact-me .right{
    text-align: left;
    width: 30%;
}
.contact-me .right h4{
    font-size:32px;
    font-weight: 300;
}
.contact-me .right ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 15px 0 20px 20px;
}
.contact-me .right ul li,.contact-me .right a{
    color: var(--white);
    text-decoration: none;
    font-weight: 100;
}
.contact-me .right .my-social{
    margin-top: 50px;
}
.contact-me .right .social{
    margin-top: 10px;
    display: flex;
    justify-content: left;
    gap: 30px;
}
.contact-me .right .social svg{
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
    transition: all 100ms ease;
}
.contact-me .right .social svg:hover{
    transform: scale(1.2);
}
.contact-me .left{
    width: 70%;
    text-align: left;
    padding-right: 200px;
}
.contact-me .left .col-2{
    display: flex;
    gap: 10px;
}
.contact-me .left .col-2 input{
    color: var(--white);
    background-color:  rgba(196, 196, 196, 0.13);
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 45px;
    padding: 10px;
}
.contact-me .left .col-2 .col{
    position: relative;
    width: 100%;
}
form{
    position: relative;
}
.lable-email{
    position: absolute;
    color:rgb(255, 87, 87);
    font-size: 14px;
    top: -24px;
    left: 10px;
    transform: translateY(4px);
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease;
}
.lable-form{
    position: absolute;
    color:rgb(255, 87, 87);
    font-size: 14px;
    top: -40px;
    left: 10px;
    transform: translateY(4px);
    visibility:hidden;
    opacity: 0;
    transition: all 200ms ease;
}
.lable-show{
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
}
.contact-me input:focus,.contact-me textarea:focus{
    outline: none;
    background-color: rgba(172, 172, 172, 0.212) !important;
}
.contact-me .left textarea{
    resize: none;
    background-color: rgba(196, 196, 196, 0.13);
    color: var(--white);
    border-radius: 8px;
    padding: 15px;
    border: none;
    margin-top: 15px;
    width: 100%;
}
.contact-me .left button{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    color: white;
    background-color: transparent;
    border: 2px solid #E6E965;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease;
}
.contact-me .left button:hover{
    color: rgb(0, 0, 0);
  }
  
  .fill:before {
    content: "";
    position: absolute;
    color: black;
    background: #E6E965;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.09s ease-in;
  }
  
  .fill:hover:before {
    top: 0;
  }
  
footer{
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: #0e0d0d8e;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80px;
}
footer h4{
    font-weight: 100;
}
